
.ibt0 {
	cursor: pointer;
	font-size: 18px
}

.ibt1 {
	color: #f23c3c;
	cursor: pointer;
	font-size: 18px
}

.row-over {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width:300px;
	display:block;
}
